.savePostMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 0.5px solid #adbbc8;
  padding: 0 12px;
}
/* 기본 스타일 */
.radioButton {
  appearance: none; /* 기본 브라우저 스타일 제거 */

  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

/* 체크된 상태 */
.radioButton:checked::before {
  content: ""; /* 내용 없음 */
  position: absolute;
  top: 5.5px; /* 외부 동그라미의 여백을 고려하여 내부 동그라미 위치 조정 */
  left: 5.5px; /* 외부 동그라미의 여백을 고려하여 내부 동그라미 위치 조정 */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

/* 클릭 시 외부 동그라미 색상 조정  */
.radioButton:checked {
  border-color: #000;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  color: #000;

  /* Label/Samll */
  font-family: "Noto Sans KR";
  font-size: 12.003px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 18.005px */
}

.date {
  color: var(--Typo-Secondary, #6b6b6b);

  /* Paragraph/Samll */
  font-family: "Noto Sans KR";
  font-size: 12.003px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.205px */
}
