@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.ResultsContainer {
    position: fixed;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    background-color: #FFFFFF;
    overflow: hidden; 
}

.ResultsTitle {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 57vw;
    height: 104px;
    padding: 48px 4px 16px;
    gap: 4px;
}

.ResultsTitle label {
    font-size: 28.43px;
    font-weight: 700;
    line-height: 39.8px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000000;
}

.ResultsContent {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 60vw;
    flex-grow: 1;
    padding: 16px 0px;
    overflow-y: auto;
    gap: 4px;
}

.post-preview {
    display: flex;
    width: 60vw; 
    align-items: flex-start;
}

.post-preview ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.post-preview-item {
    border-bottom: 1px solid #ccc;
    padding: 24px 0px 24px 0px;
    width: 100%;
}

.NoResultsContent {
    box-sizing: border-box;
    display: flex;
    margin-top: 105px;
    align-items: center;
    justify-content: center;
    width: 680px;
    height: 75px;
    padding: 16px 4px;
    gap: 4px;
}

.NoResultsContent label {
    font-size: 28.43px;
    font-weight: 500;
    line-height: 42.65px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000000;
}

.ResultsContent label {
    font-size: 28.43px;
    font-weight: 500;
    line-height: 42.65px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000000;
}

@media (max-width: 768px) {
   
    .ResultsTitle label {
        font-size: 25px;
        font-weight: 700;
        line-height: 39.8px;
        font-family: 'Noto Sans KR', sans-serif;
        color: #000000;
    }
}