.total{
    display: flex;
    flex-direction: row;
}

.top{
    display: flex;
    flex-direction: column;
}

.middle{
    display: flex;
    flex-direction: row;
}

.bottom{
    display: flex;
}

.picture{
    display: flex;
}